{% extends 'layout.html.twig' %}

{% block title %}Accueil{% endblock %}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
{% block body %}

    <header>

        <div class="container">
            <h1 class="mt-5 align-items-center text-center">Pascale Vétois </h1>
            <h2 class="text-center">Développeuse Web - PHP Symfony</h2>


        </div>
    </header>

<hr>
    <section class="container">
        <div class="row container ">
            <div><p>Après une carrière dans l'assurance prévoyance et emprunteur où j'ai pu parfaire mes compétences
                dans les domaines des adhésions , des prestations, du médical ainsi que dans la gestion de projets MOA,
                j'embrasse aujourd'hui l'univers du développement Web, avec l'ambition de vous faire profiter de mes compétence transverses
                dans ces domaines</p></div>
            <div class="col-6" ><img src="{{ asset('build/identite.jpg') }}"/></div>
            <div class="col-6">
                <p>bla bla <p>

                <p>bla bla <p>
                <p>bla bla <p>

            </div>
        </div>

    </section>

    <hr>
    <section>compétences</section>
    <div class="row">

        {% for competence in competences %}

            <div class="col-sm-6 col-md-3 col-lg-2">
                <div class="card margin">
                    <img class="card-img-top" src="" alt="titre">
                    <div class="card-body">
                        <h5 class="card-title text-center"> {{ competence.name }}</h5>
                        <h5 class="card-title text-center text-muted"> {{ competence.photocomp }}</h5>
                        <h5 class="card-title text-center"> {{competence.description }}</h5>
                        <p class="card-text"></p>
                        <button class="btn btn-primary" type="button" data-toggle="collapse"
                                data-target="#collapse{{ competence.id }}" aria-expanded="false"
                                aria-controls="collapse{{ competence.id }}">En savoir plus
                        </button>
                        <div class="collapse" id="collapse{{ competence.id }}"><p>{{ competence.description }}</p></div>
                    </div>
                </div>
            </div>
        {% else %}
            "Il n'y a actuellement aucunes compétences saisies"
        {% endfor %}
    </div>
    <hr>
    <section>réalisations</section>
    <div class="row">

        {% for realisation in realisations %}

            <div class="col-sm-6 col-md-3 col-lg-2">
                <div class="card margin">
                    <img class="card-img-top" src="" alt="titre">
                    <div class="card-body">
                        <h5 class="card-title text-center"> {{ realisation.name }}</h5>
                        <h5 class="card-title text-center text-muted"> {{ realisation.realisationphoto }}</h5>
                        <h5 class="card-title text-center"> {{realisation.description }}</h5>
                        <p class="card-text">{{realisation.projectlink }}</p>
                        <button class="btn btn-primary" type="button" data-toggle="collapse"
                                data-target="#collapse{{ realisation.id }}" aria-expanded="false"
                                aria-controls="collapse{{ realisation.id }}">En savoir plus
                        </button>
                        <div class="collapse" id="collapse{{ realisation.id }}"><p>{{ realisation.description }}</p></div>
                    </div>
                </div>
            </div>
        {% else %}
            "Il n'y a actuellement aucunes compétences saisies"
        {% endfor %}
    </div>
    <hr>
    <section>Expériences</section>

    <section class="container">
        <div class="row">

            {% for experience in experiences %}

                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="card margin">
                        <img class="card-img-top" src="" alt="titre">
                        <div class="card-body">
                            <h5 class="card-title text-center"> {{ experience.name }}</h5>
                            <h5 class="card-title text-center text-muted"> {{ experience.year }}</h5>
                            <h5 class="card-title text-center"> {{ experience.company }}</h5>
                            <p class="card-text"></p>
                            <button class="btn btn-primary" type="button" data-toggle="collapse"
                                    data-target="#collapse{{ experience.id }}" aria-expanded="false"
                                    aria-controls="collapse{{ experience.id }}">En savoir plus
                            </button>
                            <div class="collapse" id="collapse{{ experience.id }}"><p>{{ experience.description }}</p></div>
                        </div>
                    </div>
                </div>
            {% else %}
                "pas d'expérience saisies"
            {% endfor %}
        </div>
    </section>


    <hr>
{% endblock %}
