{% extends 'layoutadmin.html.twig' %}

{% block title %}Realisation index{% endblock %}

{% block body %}
    <h1>Realisation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Realisationphoto</th>
                <th>Description</th>
                <th>Projectlink</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for realisation in realisations %}
            <tr>
                <td>{{ realisation.id }}</td>
                <td>{{ realisation.name }}</td>
                <td>    <img class="img-thumbnail little" src="{{ vich_uploader_asset(realisation, 'realisationphotoFile') }}" alt="{{ realisation.name }}"></td>
                <td>{{ realisation.description }}</td>
                <td>{{ realisation.projectlink }}</td>
                <td>
                    <a href="{{ path('admin_realisation_show', {'id': realisation.id}) }}">show</a>
                    <a href="{{ path('admin_realisation_edit', {'id': realisation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_realisation_new') }}">Create new</a>
{% endblock %}
