{% extends 'layoutadmin.html.twig' %}

{% block title %}Realisation index{% endblock %}

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
{% block body %}
    <h1 class ="pt-5">Liste des projets</h1>

    <table class="table">
        <thead class ="bg-primary">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Realisationphoto</th>
                <th>Description</th>
                <th>Projectlink</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for realisation in realisations %}
            <tr>
                <td>{{ realisation.id }}</td>
                <td>{{ realisation.name }}</td>
                <td>    <img class="img-thumbnail little" src="{{ vich_uploader_asset(realisation, 'realisationphotoFile') }}" alt="{{ realisation.name }}"></td>
                <td>{{ realisation.description }}</td>
                <td>{{ realisation.projectlink }}</td>
                <td>
                    <a href="{{ path('admin_realisation_show', {'id': realisation.id}) }}">Détail</a>
                    <a href="{{ path('admin_realisation_edit', {'id': realisation.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-outline-primary mt-5" href="{{ path('admin_realisation_new') }}">Ajouter</a>
{% endblock %}
