{% extends 'base.html.twig' %}

{% block title %}Competence index{% endblock %}

{% block body %}
    <h1>Competence index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Photocomp</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for competence in competences %}
            <tr>
                <td>{{ competence.id }}</td>
                <td>{{ competence.name }}</td>
                <td>{{ competence.photocomp }}</td>
                <td>{{ competence.description }}</td>
                <td>
                    <a href="{{ path('admin_competence_show', {'id': competence.id}) }}">show</a>
                    <a href="{{ path('admin_competence_edit', {'id': competence.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="row">

        {% for competence in competences %}

            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="card margin">
                    <img class="card-img-top" src="" alt="titre">
                    <div class="card-body">
                        <h5 class="card-title text-center"> {{ competence.name }}</h5>
                        <h5 class="card-title text-center text-muted"> {{ competence.photocomp }}</h5>
                        <h5 class="card-title text-center"> {{competence.description }}</h5>
                        <p class="card-text"></p>
                    </div>
                </div>
            </div>
        {% else %}
            "Il n'y a actuellement aucunes compétences saisies"
        {% endfor %}
    </div>
    <a href="{{ path('admin_competence_new') }}">Create new</a>
{% endblock %}
