{% extends 'layoutadmin.html.twig' %}

{% block title %}Competence index{% endblock %}
    {% block stylesheets %}
        {{ encore_entry_link_tags('admin') }}
    {% endblock %}
{% block body %}
    <h1 class ="pt-5">Liste des compétences</h1>


    <table class="table">
        <thead class ="bg-primary">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Photocomp</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for competence in competences %}
            <tr>
                <td>{{ competence.id }}</td>
                <td>{{ competence.name }}</td>
                <td> <img class="img-thumbnail little" src="{{ vich_uploader_asset(competence, 'photocompFile') }}" alt="{{ competence.name }}"></td>
                <td>{{ competence.description }}</td>
                <td>
                    <a href="{{ path('admin_competence_show', {'id': competence.id}) }}">show</a>
                    <a href="{{ path('admin_competence_edit', {'id': competence.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="row">


    </div>
    <a href="{{ path('admin_competence_new') }}">Create new</a>
{% endblock %}
